<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Login AZ Game</title>
</head>
<body>
    {% for message in get_flashed_messages() %}
        <div class=flash>{{ message }}</div>
    {% endfor %}
    <form action="" method="post">
        <p><label>Username</label><input title="username" type=text name=username></p>
        <p><label>Password</label><input title="password" type=password name=password></p>
        <p><input type=submit value=Login></p>
    </form>
    <a href="signup">Sign up</a>
</body>
</html>